# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
venv/
backend/venv/
env/
ENV/
.env

# Django
db.sqlite3
backend/db.sqlite3
media/
backend/media/
*.log

# Large AI Model Weights & Local Test Files
*.pt
*.onnx
*.engine
backend/test.jpg
backend/test_camera.py
backend/test_yolo.py

# Node.js / Frontend
node_modules/
dist/
build/

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db